@model User
<div class="modal fade bd-example-modal-lg" id="user-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tạo Người Dùng Mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="add" method="post" id="user--add">
                    <input type="hidden" name='user_id' asp-for="user_id">
                    <input type="hidden" name="role_id" value="1">

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Tên người dùng</strong></label>
                                <input type="text" class="form-control" placeholder="Enter username" name='username' asp-for="username">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Email</strong></label>
                                <input type="email" class="form-control" placeholder="Enter email" name="email" asp-for="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Mật Khẩu</strong></label>
                                <input type="password" class="form-control" placeholder="Enter password" name='password' asp-for="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Số điện thoại</strong></label>
                                <input type="text" class="form-control" placeholder="Enter phone number" name="phone_number" asp-for="phone_number" 
                                       pattern="^\d{10}$" maxlength="10" required title="Số điện thoại phải có đúng 9 chữ số">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Địa chỉ</strong></label>
                                <input type="text" class="form-control" placeholder="Enter address" name="address" asp-for="address"> 
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="border-radius: 20px;">Đóng</button>
                <button type="submit" class="btn btn-outline-primary" style="border-radius: 20px;" type="submit" form="user--add">Lưu</button>
            </div>
        </div>
    </div>
</div>