@model string
@{
    ViewData["Title"] = "Quên Mật Khẩu";
}
<h2 style="margin-top: 500px;">Quên Mật Khẩu</h2>
<form asp-action="ForgotPassword" method="post">
    <div>
        <label>Nhập địa chỉ email của bạn:</label>
        <input type="email" name="email" required />
    </div>
    <button type="submit">Gửi liên kết đặt lại mật khẩu</button>
</form>
