.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
  color: #000;
}

.nav-item.active .nav-link {
  color: #000000 !important; /* Màu của nav-link */
}

.nav-item.active .nav-link i {
  color: #000000 !important; /* Màu của icon */
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
  color: #000000 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-image: url(''); /* Đường dẫn đến ảnh nền */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  border-collapse: collapse;
}

th, td {
  background-color: rgba(255, 255, 255, 0.8); /* Nền trắng mờ để đọc dễ hơn */
}

.card {
  overflow: hidden;
    border-radius: 14px;
}

.card-body {
  padding: 1rem 2rem;
}

.card-header{
  background-color: #c990c9;
}

.text-primary {
  color: #fff !important;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: revert;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #D8BFD8;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #f8f6ff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f8f6ff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #D8BFD8;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #D8BFD8;
}

